<div id="body">
    <nav class="navbar navbar-expand-md fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn btn-primary" href="#">Home</button>
                    <!--<div class="dropdown">
                        <button class="btn btn-primary dropbtn" href="#">Camps</button>
                        <div class="dropdown-content">
                            <a routerLink="camp" routerLinkActive="active">To Organize a camp</a>
                          </div>
                    </div>!-->
                    <button class="btn btn-primary" routerLink="/request">Raise Request</button>
                    <button class="btn btn-primary" routerLink="/donate">Donate Blood</button>
                    <button class="btn btn-primary" routerLink="/camp">Organize Camp</button>
                    <button class="btn btn-primary login" routerLink="login" routerLinkActive="active"
                        style="float: right;position: relative;">LogIn</button>
                    <button class="btn btn-primary" routerLink="contact">Contact Us</button>
                    <!--<button class="btn btn-primary" href="#">Sponsor Us</button>!-->
                    <button class="btn btn-primary" routerLink="about" routerLinkActive="active">About</button>
                    
                </li>
            </ul>
        </div>
    </nav>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/bg.jpg" alt="Los Angeles" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="assets/2.jpg" alt="Chicago" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="assets/965.jpg" alt="New York" width="1100" height="500">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <br>
    <p id="sen">Started just with a blood helpline, Raktadan now provides a 360 degree
        <br>solution to the problem of blood shortage in the country!
    </p>
    <br>
    <div class="row rw1">
        <br>
        <div class="col-sm-3 col-md-4" id="col">
            <div class="blk1 text-center">
                <p style="font-size: 4.5vh; font-family: 'Rokkitt', serif;"><b>Uniting Youth</b></p>
                <p id="UY"> Started in 2016,we are a competely youth led initiative.In these 4 years, we have expanded
                    from
                    a team to 5 to a team of 1K+ youth convering over 4 states.</p>
            </div>
        </div>
        <div class="col-sm-3 col-md-4" id="col">
            <div class="blk2 text-center">
                <p style="font-size: 4.3vh; font-family: 'Rokkitt', serif;"><b>Organizing Camps</b></p>
                <p id="UY">Organizing blood donation camps is one of our core activities.All our camps focus on giving
                    blood
                    donor the best experience.</p>
            </div>
        </div>
        <div class="col-sm-3 col-md-4" id="col">
            <div class="blk2 text-center">
                <p style="font-size: 4.3vh; font-family: 'Rokkitt', serif;"><b>Helpline 24X7</b></p>
                <p id="UY">We run a 24X7, 365 days helpline to help those who need
                    blood urgently.If you need support,raise a blood request here,
                    we will try our level best to help you!
                </p>
            </div>
        </div>
    </div>

    <br><br><br>
    <p id="sen2">It's in your blood, to save a life! Donate blood.</p>
    <br>

    <p id="nam">Raktadan</p>
    <div id="a">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Help some one,donate blood and save life.</div>
    <br>
    <p class="b">By donating blood with Raktadan,many lives are saved and hope
        is given to many whose situation may otherwise be hopeless.
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Blood donors give such patients a second chance of life.</p>
    <br>
    <div id="pic">
        <img id="pic1" src="assets/pic1.jfif" />
        <div id="donat">
            <b>SAVING LIVES</b>
        </div>
        <div id="db2">
            We work with a sole objective<br>
            of saving lives.We act as a<br>
            channel connecting voluntary<br>
            donors with those who need<br>
            blood.Till now,we have helped<br>
            save over 20,000 lives!
        </div>
    </div>
    <br>
    <br>
    <div class="pic1">
        <img id="pic2" src="assets/pic2.jpg" />
        <div id="donate">
            <b>"Why should donate blood ? "</b>
        </div>
        <div id="db1">
            Our nation requires 4 Crore Units of Blood<br>
            while only 40 lakh Units are available, Every <br>
            two seconds someone needs Blood There is no<br>
            substitute for Human Blood.It cannot be manufactured<br>
            Blood donation is an extremely noble deed,yet<br>
            there is a scarcity of regular donors across India.
        </div>
    </div>
    <br>
    <br>
    <div id="sponsor">
        <div class="title">Our Sponsors</div>
        <br>
        <img id="icon" src="assets/radio.png" />
        <img id="icon1" src="assets/tata.png" />
        <img id="icon2" src="assets/bbc.png" />
        <img id="icon3" src="assets/rel.png" />
        <img id="icon4" src="assets/paytm.png" />
        <img id="icon5" src="assets/pinterest.png" />
        <img id="icon6" src="assets/google.png" />
    </div>
    <br><br>
    <footer>
        <img id="logo" src="assets/logo.png" />
        <div class="right"><b>Office Address</b><br> Sector 18, Gurugram,<br>
            Haryana - 122016,<br> India.<br>Contact: 90122 45723</div>
        <div class="center">RAKTADAN.com</div>
        <br>
        <div id="cr">Copyright&nbsp;<i class="far fa-copyright"></i> 2019.All Rights Reserved By Raktadan</div>
        <div id="cr2">Design & Develop by Prince Jodhani</div>
        <img id="you" src="assets/youtube.png" />
        <img id="fb" src="assets/facebook.png" />
        <img id="apl" src="assets/applestore.png" />
        <img id="insta" src="assets/instagram.png" />
        <img id="play" src="assets/playstore.png" />
        <img id="twi" src="assets/twitter.png" />
    </footer>
</div>