<div id="bg">
  <img src="assets/bg.jpg" alt="Los Angeles" width="1100" height="500">
  <section class="container-fluid">
    <section class="row bg">
      <div class="col-sm-6 col-md-6">
        <section class="wrap-login">
          <div>
            <p>Personal Info</p>
            <form>
              <div>
                <div class="form-group textbox">
                  <label for="pwd" id="ep"><b>Full Name: </b></label>
                  <input type="text" class="form-control col-sm-2 col-md-9 text-center" id="name"
                    placeholder="Enter Full Name" name="name" required>
                </div>
                <div class="form-group textbox">
                  <label for="pwd" id="ep"><b>Address:</b></label>
                  <textarea type="text" class="form-control col-sm-2 col-md-9 text-center" id="Address"
                    placeholder="Enter Your Address" name="Address" required></textarea>
                </div>
                <div class="form-group textbox">
                  <label for="pwd" id="ep"><b>Contact No:</b></label>
                  <input type="text" class="form-control col-sm-2 col-md-9 text-center" id="phone"
                    placeholder="Enter Phone Number" name="phone" required>
                </div>
                <div class="form-group textbox">
                  <label for="pwd" id="ep"><b>Your Blood Group:</b></label>
                  <input type="text" class="form-control col-sm-2 col-md-9 text-center" id="bgr"
                    placeholder="Enter Your Blood-Group" name="bgr" required>
                </div>
              </div>
            </form>
          </div><br>
        </section>
      </div>
      <div class="col-sm-6 col-md-6">
        <section class="wrap-login">
          <div>
            <p>SignUp Info</p>
            <form>
              <div> 
                <div class="form-group textbox">
                  <label for="pwd" id="ep"><b>Email:</b></label>
                  <input type="email" class="form-control col-sm-2 col-md-9 text-center" id="email"
                    placeholder="Enter email" name="email" required>
                </div>
              </div>

              <div class="form-group textbox">
                <label for="pwd" id="ep"><b>Password:</b></label>
                <input type="password" class="form-control col-sm-2 col-md-9 text-center" id="pwd"
                  placeholder="Enter password" name="pwd" required>
              </div>

              <div class="form-group textbox">
                <label for="pwd" id="ep"><b>Re-enter Password:</b></label>
                <input type="password" class="form-control col-sm-2 col-md-9 text-center" id="cpwd"
                  placeholder="Re-Enter password" name="cpwd" required>
              </div>
              <br>
              <button type="submit" class="btn btn-primary text-center col-sm-2 col-md-9" id="btn"
                (click)="registerMe()"><b>Sign
                  Up</b></button>
          </form>
      </div><br>
      <a class="text-center new" href="login">Already Have An Acount ?</a><br>
      <br>
    </section>
</div>
</section>
</section>
</div>