<div class="body">
    <nav class="navbar navbar-expand-md fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn btn-primary" routerLink="/" >Home</button>
                    <button class="btn btn-primary" routerLink="about">About</button>
                    <button class="btn btn-primary" routerLink="../camp">Organize Camp</button>
                    <button class="btn btn-primary" href="#">About Blood</button>
                    <button class="btn btn-primary" routerLink="../contact" routerLinkActive="active">Contact Us</button>
                    <button class="btn btn-primary" href="#">Sponsor Us</button>
                    <button class="btn btn-primary"  routerLink="../request">Raise Request</button>
                </li>
            </ul>
        </div>
    </nav>

    <img id="bg" src="assets/04.jpg" />
    <div class="AU">About Us</div>
    <div class="info">
        Blood cannot be manufactured in factories; it can only come from generous
        donors. <br>To cater to this demand, Raktadan was launched on 1st April,
        2010  with an unparalleled <br>objective of
        solving the problem of blood shortage in India.
        <br><br>
        According to WHO data, India faces a shortage of 3 million blood units.
        This shortage can <br>easily be eliminated if only an additional 2% of India's
        youth donates blood. To make this<br> possible, Raktadan acts as a channel
        connecting voluntary blood donors with those who<br> need blood. It is a youth-run
        organization and provides free help and specially works to <br>target the poor
        and the needy.
        <br><br>
        Since its inception, the organization has grown a lot in terms of working
        for this cause.<br> Raktadan has developed a 360 degree solution to the problem
        blood shortage.<br> <b>The model revolves around 4 focal points:</b>
        <br><br>
        <b style="color: #800000;">1)</b>&nbsp;Ensuring continuous, sufficient blood supply to blood banks through blood donation<br>&nbsp;&nbsp;&nbsp;camps and weekly donations
        <br><b style="color: #800000;">2)</b>&nbsp;Improving awareness by organizing Street Plays, Info-Talks, Competitions
        <br><b style="color: #800000;">3)</b>&nbsp;Helping those in dire need by operating an emergency 24x7 helpline
        <br><b style="color: #800000;">4)</b>&nbsp;Establishing a network of youth across the country to lead the movement
        <br><br>
        <b style="font-size: 1.5em;">What makes us different from others?</b>
        <br><br>
        <b style="color: #800000;">1)</b>&nbsp;<b>We save lives:</b> Each unit of blood collected can save 3-4 lives
        <br><b style="color: #800000;">2)</b>&nbsp;<b>We help the poor and the needy:</b> We organize camps mainly with govt. blood banks which<br> &nbsp;&nbsp;&nbsp;cater to the poor
        <br><b style="color: #800000;">3)</b>&nbsp;<b>We help for free- always:</b> We provide helpline support for free for 24 hours daily, 365 days<br>&nbsp;&nbsp;&nbsp;a year
        <br><b style="color: #800000;">4)</b>&nbsp;<b>We provide a complete solution:</b> We provide a 360 degree solution to the problem<br> &nbsp;&nbsp;&nbsp;(camps, awareness, helpline)
        <br><b style="color: #800000;">5)</b>&nbsp;<b>We innovate camps </b>by making them theme-­based, using social media and by <br>&nbsp;&nbsp;&nbsp;dis-­incentivizing donation, making it voluntary
    
    </div>
</div>