<nav class="navbar navbar-expand-md fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-primary" routerLink="/">Home</button>
                <button class="btn btn-primary" routerLink="../about">About</button>
                <button class="btn btn-primary" routerLink="../camp">Organize Camp</button>
                <button class="btn btn-primary" href="#">About Blood</button>
                <button class="btn btn-primary" routerLink="../contact" routerLinkActive="active">Contact Us</button>
                <button class="btn btn-primary" href="#">Sponsor Us</button>
                <button class="btn btn-primary"  routerLink="../request">Raise Request</button>
            </li>
        </ul>
    </div>
</nav>
<div class="body">
    <img src="assets/28487.jpg">
    <div class="p">
        <div class="p1">
            Organizing blood donation camps is the perfect way to cater to the demand
            of blood. Everyone wants to contribute towards the society and save lives.
            You, as a camp organizer, are giving everyone a chance to do so. Organize
            these camps regularly and bring smiles to many faces.
            To organize a camp with us,
        </div><br>
        <a class="form" routerLink="../campform">fill up this form</a>
        <div class="sen">
            The Raktadan team, consisting of passionate students, has been organizing
            blood donation camps for more than 3 years. It has experience of organizing
            these camps in various locations. Our team is there to help you through all
            the steps of organizing the blood donation camp. Find below,<b style="font-size: 1.2em;"> a step by step
                process:</b>
        </div>
    </div>
    <div class="box box1">
        <p>
            <b class="first">1) CONTACT US:</b><br>
            <br>We are there to ensure, you organize a successful blood <br>donation camp.
            Fill up the form <br> contact us or send us an email. </p>
    </div>
    <div class="box box2 inner-border">
        <p>
            <b class="sec">2) FINALIZE A VENUE:</b><br>
            <br>We can organize the camp in a college, corporate office and
            residential area. If you cannot <br> find a properly ventilated <br> location
            inside the building, we can also help you organize a <br>camp outside
            in a bus/van.</p>
    </div>
    <div class="box box3 inner-border">
        <p>
            <b class="sec">3) CONFIRM A DATE:</b><br>
            <br>Finalize a date 2-3 weeks in advance. ﻿We contact the
            various blood banks on your behalf and it usually takes 2-4
            days ﻿to finalize <br>the blood bank. After that, ﻿we should leave
            2 weeks time for the publicity of the camp. ﻿</p>
    </div>
    <div class="box box4 inner-border">
        <p>
            <b class="sec">4) PUBLICIZE:</b><br>
            <br>We need to publicize the camp in all ways possible- online
            mailing, posters and standees. We have a collection of posters,
            which will<br> help you out in this process. We <br> can also organize
            an awareness session if required.</p>
    </div>
    <div class="box box5 inner-border">
        <p>
            <b class="sec">5) CAMP DAY:</b><br>
            <br>Our volunteers are there before <br>the start to help you out
            in arranging the venue. They will<br> plan out the decorations
            such<br> that the donor feels special while donating blood at
            the camp. <br>There are also certain requirements on camp day such
            as water, electricity supply, tables, etc., which we will inform
            you beforehand.</p>
    </div>
    <div class="box box6 inner-border">
        <p>
            <b class="sec">6) POST CAMP WORK:</b><br>
            <br> We send out mails to all donors thanking them for
            donating blood and asking them for the feedback on the camp.
            Based on that, we judge how successful the camp was and what
            all needs to be worked upon for future blood donation camps.</p>
    </div>
    <div class="sen2">
        <b style="font-size: 1.2em;">Which blood bank do we call for the camp?</b><br>
        We only organize blood donation camps with government blood banks. 
        We believe that in the government blood banks/govt. hospitals, majority 
        of the blood is used to help out the underprivileged. It goes in-line with 
        our objective to help those who are in dire need and those who cannot get 
        help by any other means. We finalize the blood bank based on 3 factors: 
        Shortage in blood bank at that time, the distance of the venue from the 
        blood bank and your preference. <br>
        <br>
    </div>
</div>