.navbar{
    bottom: 88%;
    width: 71em;
    height: 7%;
    font-family: 'Coda', sans-serif;
    font-size: large;
    box-shadow: 0px 10px 28px 0px;
    background-color: whitesmoke;
}
li{
    padding: 1vh;
}
.btn{
    background: transparent;
    color:black;
    border: 0ch;
    border-radius: 2px;
}
.btn:hover{
    background-color: 	#800000;
    color: whitesmoke;
}
 
img{
    width:78.9em;
    position:absolute;
    overflow: hidden;
}

.p1{
    position: absolute;
    top:42.5em;
    font-family: 'Rokkitt', "serif";
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.3em;
}
a{
    font-size: 2em;
    position: absolute;
    top:30.5em;
    left: 15em;
    font-family: 'Rokkitt', "serif";
    color: #800000;
    text-decoration: none;
}
a:hover{
    color: black;
    text-shadow: 0 13.36px 8.896px #b9a37f,0 -2px 1px #fff;
}
.sen{
    font-size: 1.3em;
    position: absolute;
    top:50.5em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Rokkitt', "serif";
}

/*-------box--------------*/
.box{
    width: 20em;
    top:74em;
    left:2em;
    padding-right: 1em;
    position: absolute;
    height: 14.5em;
    border: 1px solid rgb(192, 188, 188);
    border-radius: 10px;
    overflow: hidden; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 8px solid #a50000;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.box1:hover{
    border-bottom: 8px solid #a50000;
    border-top: 0.9px solid rgb(158, 158, 158);
    border-right: 0.9px solid rgb(158, 158, 158);
    border-left: 0.9px solid rgb(158, 158, 158);
}

p b .first{
    font-size: 1em;
    position: relative;
    left:3.2em;
}
p{
    position: relative;
    top:1em;
    left: 1em;
    right: 1em;
    font-family: 'Rokkitt', "serif";
    font-size: 1.3em;
}
p b .sec{
    left:1em;
}
.box2{
    top:74em;
    left:30em;
    overflow: scroll;
    overflow-x: hidden;
}
.box2:hover{
    border-bottom: 8px solid #a50000;
    border-top: 0.9px solid rgb(158, 158, 158);
    border-right: 0.9px solid rgb(158, 158, 158);
    border-left: 0.9px solid rgb(158, 158, 158);
}
.box3{
    top:74em;
    left:57em;
    overflow: scroll;
    overflow-x: hidden;
}
.box3:hover{
    border-bottom: 8px solid #a50000;
    border-right: 0.9px solid rgb(158, 158, 158);
    border-left: 0.9px solid rgb(158, 158, 158);
    border-top: 0.9px solid rgb(158, 158, 158);
}

.inner-border { 
    position: absolute; 
    overflow-x: hidden; 
    overflow-y: scroll; 
} 
.inner-border::-webkit-scrollbar { 
    display: none; 
}

.box4{
    top:91em;
    overflow: scroll;
    overflow-x: hidden;
}
.box4:hover{
    border-bottom: 8px solid #a50000;
    border-right: 0.9px solid rgb(158, 158, 158);
    border-left: 0.9px solid rgb(158, 158, 158);
    border-top: 0.9px solid rgb(158, 158, 158);
}

.box5{
    top:91em;
    left: 30em;
    overflow: scroll;
    overflow-x: hidden;
}
.box5:hover{
    border-bottom: 8px solid #a50000;
    border-right: 0.9px solid rgb(158, 158, 158);
    border-left: 0.9px solid rgb(158, 158, 158);
    border-top: 0.9px solid rgb(158, 158, 158);
}

.box6{
    top:91em;
    left: 57em;
    overflow: scroll;
    overflow-x: hidden;
}
.box6:hover{
    border-bottom: 8px solid #a50000;
    border-right: 0.9px solid rgb(158, 158, 158);
    border-left: 0.9px solid rgb(158, 158, 158);
    border-top: 0.9px solid rgb(158, 158, 158);
}

.sen2{
    font-size: 1.3em;
    position: absolute;
    top:82.5em;
    background-color: gainsboro;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    font-family: 'Rokkitt', "serif";
}